.App{
  align-items: center;
  margin: auto;
  text-align: center;
  height: 100%;
}
.optionsBox{
  padding: 15px;
  margin: auto;
  text-align: center;
  align-items: center;
}
.optionsBox p{
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
 box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.246);
  max-width: 300px;
  min-width: 200px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;

}
.optionsBox p:hover{
  background-color: rgba(255, 255, 0, 0.281);
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.563);
  transition: 0.5s;
}
header{
  margin: 0px;
  height: 3em;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.142);
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.227);
  max-width: 600px;
  min-width: 200px;
  margin: auto;
  border-radius: 20px;
  padding: 15px;
}
section{
  padding: 15px;
}