*{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(120, 120, 120);
}
input{
  min-width: 80px;
  max-width: 150px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid rgb(130, 130, 130);
  margin: 10px;
  text-align: center;
  font-size: 1em;
}
button{
  width: 100px;
  background-color: rgb(94, 209, 255);
  border: none;
  color: white;
  height: 30px;
  margin-left: 15px;
  border-radius: 10px;
}
button:hover{
  background-color: yellow;
  color: rgb(120, 120, 120);
}

